<header id="header">
    <h1 title="欢迎">欢迎来到B531实验室!</h1>
    <div id="motto">
        <q> 千里之行始于<strong>足下</strong> </q><br />
        <em>
            <blockquote>一个人能学得很深，一群人能走得很远</blockquote>
        </em>
    </div>
    <div id="jerry">
        <a href="/jerry" title="点击查看大图">
            <img src="jerry-small.jpg" alt="Jerry the mouse" /> </a><br />
    </div>
</header>