<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Jerry</title>
    <link rel="stylesheet" href="b531.css" />
</head>

<body>
    <!-- using EJS to include common components -->
    <%- include('./components/header.ejs') %>
        <section>
            <h2><img src="git-icon.png" alt="标题" width="20px" />404</h2>
            <img src="jerry.jpg" alt="杰瑞"><br>
            [<a href="/index">回到首页</a>]
        </section>
        <!-- using EJS to include common components -->
        <%- include('./components/footer.ejs') %>
</body>

</html>